#navBar {
    background: url(4.jpg);
    background-position: top left;
    position: sticky;
    z-index: 1000000;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.navbar-brand {
    border: 2px solid black;
    color: black;
    padding: 5px;

}

.jumbotron {
    background-image: url(4.jpg);
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    text-align: justify-all;
    margin-top: 0px;
    border-top: 0px
}

.card {
    margin-left: 20px;
}

.title {
    text-align: center;
    margin-left: 20px;

}

#titl {
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    border-bottom: 4px solid black !Important;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px !important;
}

#particles-js{
height: 50%;
background: #000;
}