#navBar {
    background: url(4.jpg);
    background-position: top left;
    position: sticky;
    z-index: 1000000;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.navbar-brand {
    border: 2px solid black;
    color: black;
    padding: 5px;

}
